sentence-transformers
faiss-cpu
transformers
torch
accelerate
sentencepiece
langchain
langchain-community
langcrequests
beautifulsoup4
urllib3
hain-openai
chromadb>=0.4.22
numpy>=1.24
sentence-transformers>=2.2.2
tqdm>=4.66
